<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Denuncias</title>
</head>

<body style="background-color: #0a3d62">
    <h1 style="color: #f5f6fa; position: absolute; margin-left: 40%; margin-top: 10%;">Lista de Denuncias</h1>
    <ul>
        {% for denuncia in denuncias %}
        <a href="{% url 'update_denuncia' denuncia.id %}">
            <li> {{ denuncia.denuncias }}</li>
        </a>
        {% endfor %}
    </ul>

    <a href="{% url 'create_denuncia' %}" style=" position: absolute; color: #f5f6fa; margin-left: 42.5%; margin-top: 15%; ">Cadastrar Nova Denuncia</a>
    <a href="/newUser" style=" position: absolute; color: #f5f6fa; margin-left: 42.5%; margin-top: 17%; ">Cadastrar Novo Usuário</a>
</body>

</html>