<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Denuncias</title>
</head>

<body>
    <h1 style="color:red;">Lista de Denuncias</h1>
    <ul>
        {% for denuncia in denuncias %}
        <a href="{% url 'update_crime' crime.id %}">
            <li> {{ denuncia.denuncia }}</li>
        </a>
        {% endfor %}
    </ul>

    <a href="{% url 'create_crime' %}">Cadastrar Nova Denuncia</a>
</body>

</html>