<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Denuncias</title>
</head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<body>
    <img style="margin-left: 58.5%; position: relative; margin-top: 15%;"  src="https://img.icons8.com/material/96/000000/user-male-circle--v1.png"/>
    <img src="https://i.imgur.com/WmkUrbj.jpg" title="source: imgur.com" height="944px" style="position: absolute; margin-left: -65%; "/>
    <img src="https://i.ibb.co/fDc2pn2/artesite.png" alt="" style="position: absolute; margin-left: 4%; margin-top: -1%;  ">
    <h1 style="position: absolute; margin-left: 56.5%;"> Bem-vindo!</h1>
    <ul>
        {% for denuncia in denuncia_list %}

        <tr>
            <td>
                {{denuncia.Nome_da_rua}}
            </td>
        </tr>
        <a href="{% url 'update_denuncia' denuncia.id %}">
            <li> {{ denuncia.denuncias }}</li>
        </a>
        {% endfor %}
    </ul>
    <div style="margin-top: 3%; margin-left: 7%;">
        <p style="color: black; position: absolute; margin-left: 45%; margin-top: 2%; font: bold; font-size: 20px; font-weight: bold;"> Cadastrar </p>
        <a href="{% url 'create_denuncia' %}" style=" color: black; text-decoration: none; position: absolute; margin-left: 45%; margin-top: 3%; font-weight: bold; font: bold; font-size: 30px; ">DENÚNCIAS</a>
        <p style="color: black; position: absolute; margin-left: 55%; margin-top: 2%; font: bold; font-size: 20px; font-weight: bold;"> Cadastrar </p>
        <a href="/newUser" style=" color: black; text-decoration: none; position: absolute;  margin-left: 55%; margin-top: 3%; font-weight: bold; font-size: 30px; ">USUÁRIOS</a>

    </div>
</body>

<style>
    * {
        font-family: 'Noto Sans', sans-serif;
    }
</style>
</html>